@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}

@media only screen and (max-device-width: 900px) {
/* .menu { width:600px; } */
}

@media only screen and (max-device-width: 700px) {
/* .menu { width:400px; } */
}

body {background-color: #608FBB;}

* {
    margin: 0;
    padding: 0;
    -webkit-boz-sizing: border-box;
        -moz-boz-sizing: border-box;
             boz-sizing: border-box;
}



.container {
    background-color: #DCDCDC;
    padding: 0 20px;
    height: 1000px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    flex: 1;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.divider {
    display: block;
    width: 300px;
    margin: 40px auto 30px auto;
    border: 0;
    border-top: 1px solid #CCC;
}

.box2 {
   flex: 1;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   padding: 0 20px;
   position: relative;
}

.hero-image {
    border-radius: 50%;
    height: 170px;
    margin: 25px 0;
    max-width: 100%;
}


.hero-links a {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
}

a, a:link, a:visited {
    color: #6B544E;
    padding: 10px;
}

a {
    background-color: transparent;
    text-decoration: none;
    
}

.hero-description {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-social {
    padding: 10px;
}

.sobreTitle {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.skills {
    height: 300px;
    display: flex;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    
}

.h4Soft {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.h4Hard {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.boxSoft {
    padding: 10px;
    height: 210px;
    width: 400px;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border: solid thick white;
    border-radius: 2em;
    background-color: white;
    
}

.boxSoft li {
    font-family: 'Courier New', Courier, monospace;
}

.boxHard li {
    font-family: 'Courier New', Courier, monospace;
}

.boxHard {
    padding: 10px;
    height: 210px;
    width: 400px;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border: solid thick white;
    border-radius: 2em;
    background-color: white;
}

/*https://origamid.com/projetos/flexbox-guia-completo/*/

/* https://htmlcolorcodes.com/*/