body {background-color: #fff;}

* {
    margin: 0;
    padding: 0;
    -webkit-boz-sizing: border-box;
        -moz-boz-sizing: border-box;
             boz-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    flex: 1;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.hero-image {
    border-radius: 50%;
    height: 170px;
    margin: 25px 0;
    max-width: 100%;
}


.hero-links a {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
}

a, a:link, a:visited {
    color: #000;
    padding: 10px;
}

a {
    background-color: transparent;
    text-decoration: none;
    
}

.hero-description {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-social {
    padding: 10px;
}

.sobreTitle {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
